@model IEnumerable<Entities.Entities.Resource>

@{
    ViewData["Title"] = "Lista de todos os Recursos";
}

<h1>Lista de todos os Recursos</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Quantidade
            </th>
            <th>
                Recurso
            </th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
